meme/
.env
Controllers/__pycache__
api/__pycache__
meme_ai/__pycache__
.dist
assets/classification_images
Datasets/
meme classification/etc_model.pkl
meme classification/knc_model.pkl
meme classification/lr_model.pkl
meme classification/mnb_model.pkl
meme classification/rf_model.pkl
meme classification/sgd_model.pkl
meme classification/vectorizer.pkl
meme classification/.ipynb_checkpoints
meme classification/__pycache__
server/